<div *ngIf="!presentationAvailable() && role" id="dashboard">
    <div class="container">
        <div class="wrap-dashboard">
            <div class="title">Dashboard</div>
        </div>
    </div>
    <div class="container">
        <div class="wrap-subject" *ngIf="subjectsAvailable()">
            <div class="subject" *ngFor="let subject of subjectsService.subjects">
                <div class="subject-img" (click)="showSubject(subject)">
                    <div class="svg-img background-image"></div>
                </div>
                <div class="wrap-subject-info" style="display: flex; align-items: center">
                    <div class="svg-img subject-change-name"></div>
                    <div class="subject-info">
                        {{subject.name}}
                    </div>
                    <div class="svg-img subject-delete"(click)="deleteSubject(subject)"></div>
                </div>
            </div>
            <div div class="subject add-subject" (click)="addSubject()">
                <div class="subject-img">
                    <div class="svg-img background-add-subject"></div>
                </div>
                <div class="subject-info">
                    Adicionar Disciplina
                </div>
            </div>
        </div>
        <div div class="subject add-subject" *ngIf="subjectsService.subjects == undefined" (click)="addSubject()">
            <div class="subject-img">
                <div class="svg-img background-add-subject"></div>
            </div>
            <div class="subject-info">
                Adicionar Disciplina
            </div>
        </div>
    </div>
</div>
<div *ngIf="presentationAvailable()" id="questions">
    <div class="question-name">
        {{this.chat.presentationData.question}}
    </div>
    <div class="subject" *ngFor="let questions of this.chat.presentationData.answers">
        <div (click)="sendResponse(questions, this.chat.presentationData.id)">{{questions}}</div>
    </div>
</div>