<div class="login-page">
    <div class="content px20">
        <form [formGroup]="validationForm" class="login-form" (ngSubmit)="onLogin()">
            <div class="text-center">
                <h2 class="app-name">Login</h2>
            </div>
            <div fxLayout="row">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput mdbValidate formControlName="username" minLength="4" maxLength="30" type="text" class="form-control" id="formusername" placeholder="Username">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput mdbValidate formControlName="password" minLength="10" maxLength="25" type="password" class="form-control" id="formPassword" placeholder="Password">
                    </mat-form-field>
                </div>
            </div>
            <mat-dialog-content class="error">
                <mat-error *ngIf="isLoginFailed">Username/Password incorreto!</mat-error>
            </mat-dialog-content>

            <div fxLayout="row">
                <div fxFlexFill>
                    <button type="submit" style="margin-top: 15px;" mat-raised-button color="primary" class="w-100">Login</button>
                </div>
            </div>

        </form>
    </div>
</div>