<div *ngIf="!role" class="grades" id ="grades">
    <div class="wrap-grades">
        <div class="subject-info">
            <div class="subject-title">
                Nota das apresentações: 
            </div>
        </div>
    </div>
    <div class="wrap-subjects">
        <div class="subject" *ngFor="let subject of this.subjects ">
            <div class="subject-img">
                <div class="svg-img background-image"></div>
            </div>
            <div class="wrap-subject-info" style="display: flex; align-items: center;justify-content: center;">
                <div class="svg-img subject-change-name"></div>
                <div class="subject-info">
                    {{subject.presentationName}} {{subject.classification}}/{{questionsNumbers}}
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="role" class="grades">
    <div class="wrap-grades">
        <div class="subject-info">
            <div class="subject-title">
                Nota dos alunos: 
            </div>
        </div>
    </div>
    <div class="wrap-subjects">
        <div class="subject" *ngFor="let subject of this.students ">
            <div class="subject-img">
                <div class="svg-img background-image"></div>
            </div>
            <div class="wrap-subject-info teacher" style="display: flex; align-items: center;justify-content: center;">
                <div class="name">nome: {{subject.studentUsername}}</div>
                <div class="subject-info">
                    {{subject.presentationName}} - nota: {{subject.classification}}/{{subject.questions}}
                </div>
            </div>
        </div>
    </div>
</div>

        <!--
        <div *ngIf="this.presentationService.presentations != undefined">
            <div class="presentation-title">
                Selecione a Apresentação: 
            </div>
            <div *ngFor="let presentation of this.presentationService.presentations">
                <div (click)="getGrades()">{{presentation.name}}</div>
            </div>
        </div>
    </div> 

</div>
-->
