<div id="subject-dashboard">
    <div class="container">
        <div class="wrap-dashboard">
            <div class="btn-back" (click)="backToDashboard()">Voltar</div>
            <div class="title">{{subject}}</div>
        </div>
    </div>
    <div class="container">
        <div class="wrap-subject" *ngIf="presentationAvailable()">
            <div class="subject" *ngFor="let presentation of presentationService.presentations">
                <div class="subject-img">
                    <div class="svg-img background-image"></div>
                </div>
                <div class="wrap-subject-info" style="display: flex; align-items: center">
                    <div class="subject-info">
                        {{presentation.name}}
                    </div>
                    <div class="svg-img subject-delete"(click)="deletePresentation(presentation)"></div>
                </div>
            </div>
            <div div class="subject add-subject">
                <div class="subject-img" (click)="addPresentation()">
                    <div class="svg-img background-add-subject"></div>
                </div>
                <div class="subject-info">
                    Adicionar Apresentação
                </div>
            </div>
        </div>
        <div div class="subject add-subject" *ngIf="presentationService.presentations == undefined" (click)="addPresentation()">
            <div class="subject-img">
                <div class="svg-img background-add-subject"></div>
            </div>
            <div class="subject-info">
                Adicionar Apresentação
            </div>
        </div>
    </div>
</div>

