<header>
    <div class="wrap-header">
        <div class="top-icon">
            <div class="icon-name svg-icon">
            </div>
            <div class="account-info header-div-icon-size">
                <div class="account svg-icon icon-size" (click)="home()"></div>
                <p class="info-label">Home</p>
            </div>
            <div class="grades-info header-div-icon-size" (click)="getGrades()">
                <div class="grades svg-icon icon-size"></div>
                <p class="info-label">Grades</p>
            </div>
        </div>
        <div class="bottom-icon header-div-icon-size">
            <div class="logout" (click)="onLoggedout()">
                <div class="logout-icon svg-icon icon-size"></div>
            </div>
        </div>
    </div>
</header>